@use '../variables.scss' as *;

.error-slide {
    padding-top: 20px;
    padding-inline: 40px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    justify-content: center;
}
.error-slide::after {
    content: '';
    background-color: $Red;
}
.error-slide:hover::after {
    content: '';
    background-color: $Red;
    box-shadow: $Red 0px 0px 30px 2px;
}
.error-title {
    text-transform: uppercase;
    font-family: sans-serif;
    color: $Red;
}