@use '../variables.scss' as *;

.noty_theme__mint.noty_type__warning {
    background-color: $Red !important;
    color: $Light !important;
}
.noty_theme__mint.noty_bar {
    border-radius: 13px !important;
}
.noty_theme__mint.noty_type__success {
    background-color: $Green !important;
    color: $Light !important;
}
.noty_theme__mint.noty_type__alert, .noty_theme__mint.noty_type__notification {
    background-color: $Yellow !important ;
    color: $Light !important;
}
#noty_layout__topCenter {
    top: 1.5% !important;
}