@use '../variables.scss' as *;

.swiper {
    position: relative;
    padding-inline: 10px;
    border-top: $Border-Top;
    border-bottom: $Border-Bottom;
    // box-shadow: $Red 0px 1px 5px
}
a {
    user-select: none;
    text-decoration: none;
    color: var(--text-color);
    text-transform: uppercase;
    font-size: 22px;
}
.artist-name {
    font-size: 32px;
    font-family: sans-serif;
    color: var(--text-color);
}
.swiper-wrapper {
    padding-top: 2px;
    position: relative;
    max-height: 800px;
    max-width: 1600px;
}
.image {
    max-width: 100%;
    border-radius: 43px;
    user-select: none;
}
.swiper-slide {
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 2px;
    transition: all 0.3s ease;
}
.swiper-button-prev {
    position: absolute;
    display: flex;
    width: 69px;
    height: 115px;
    top: 340px;
    left: 10px;
    z-index: 1000;
}
.swiper-button-next {
    position: absolute;
    display: flex;
    width: 69px;
    height: 115px;
    top: 340px;
    right: 10px;
    z-index: 1000;
}
.swiper-button-next svg,
.swiper-button-prev svg {
  pointer-events: none;
}
.swiper-slide::after {
    content: '';
    position: absolute;
    border-radius: 80%;
    top: 0;
    margin: 0 auto;
    width: 20%;
    height: 2px;
    background-color: $Purple;
    transition: all 0.3s ease;
}
.swiper-slide-yellow::after {
    background-color: $Yellow;
}
.swiper-slide:hover::after {
    width: 100%;
    box-shadow: $Purple 0px 0px 30px 2px;
}
.swiper-slide-yellow:hover::after {
    width: 100%;
    box-shadow: $Yellow 0px 0px 30px 2px;
}