@use './swiper.scss';
@use './error-slide.scss';
@use './noty-styles.scss';
@use './variables.scss' as *;

body {
    display: flex;
    padding-top: 60px;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
}
.title {
    margin: 0 auto;
    text-transform: uppercase;
}