@use './swiper.scss';
@use './error-slide.scss';

body {
    display: flex;
    justify-content: center;
}
.noty_theme__mint.noty_type__warning {
    background-color: #e9adad !important;
}
.noty_theme__mint.noty_bar {
    border-radius: 13px !important;
}
