@use '../styles/Errors/error-slide.scss';
@use '../styles/Noty/noty-styles.scss';
@use '../styles/Swiper/swiper.scss';
@use '../styles/variables.scss' as *;
@use './remove.scss';

body {
    display: flex;
    padding-top: 60px;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
    background-color: var(--color-bg);
}
.title {
    margin: 0 auto;
    text-transform: uppercase;
    color: var(--text-color);
}

button {
    display: flex;
    position: absolute;
    top: 5%;
    right: 5%;
}