@use '../styles/Errors/error-slide.scss';
@use '../styles/Noty/noty-styles.scss';
@use '../styles/Swiper/swiper.scss';
@use '../styles/variables.scss' as *;

body {
    display: flex;
    padding-top: 60px;
    justify-content: center;
    flex-direction: column;
    gap: 60px;
}
.title {
    margin: 0 auto;
    text-transform: uppercase;
}